@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Color Variables */
:root {
    --color-1: #d1dbe4;
    --color-2: #a3b7ca;
    --color-3: #7593af;
    --color-4: #476f95;
    --color-5: #194a7a;
    --color-6: #000000;
    --bondi-blue: #1E91B3ff;
}

nav {
    background-color: var(--color-5);
    height: 10vh;
    }
    
.nav-p{
    padding: 15px;
}
.computer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-menu{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right{
    justify-content: right;
}

.mub{
    margin-top: 20px;
    margin-bottom: 20px;
}

.navigator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-please {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.user{
    color: var(--color-1);
}

.image-user{
    width: 55px;
    border-radius: 50%;
    margin-right: 10px
}

.left-m{
    margin-left: 15px;
}

.right-m{
    margin-right: 15px;

}

.flex-mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.flex-c a {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
.dropdown {
    display: none;
}

.margin {
    margin-right: 50px;
}

.nav-link{
    padding: 15px;
    font-size: 19px;
    border-radius: 20px;
}

.nav-link:hover{
    background-color: var(--color-1);
    color: var(--color-5);
}

a {
    cursor: pointer;
}

li {
    cursor: pointer;
    list-style: none;
    margin-right: 30px;
}

.items {
    font-weight: bold;
    color: var(--color-1);
}

#close_menu,
#menu_image {
    cursor: pointer;
}

.menu-mobile {
    height: 28px;
}

#close_menu {
    display: none;
}

.items {
    width: 100%;
}

.items-dropdown {
    height: 0;
    width: 100%;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--color-5);
    transition: height 0.5s ease, padding 0.5s ease;
}

.items-dropdown a {
    color: var(--color-1);
    font-size: 1.2rem;
    padding: 20px;
}

.items-dropdown a:hover {
    color: var(--color-3);
}

@media (max-width: 800px) {
    nav {
        padding: 10px;
    }

    .computer{
        display: none;
    }

    .flex {
        justify-content: center;
    }

    .margin {
        margin-right: 20px;
    }

    li {
        margin-right: 15px;
    }

    .dropdown {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigator {
        display: none;
    }
}
